[submodule "Adafruit-PWM-Servo-Driver-Library"]
	path = Adafruit-PWM-Servo-Driver-Library
	url = https://github.com/adafruit/Adafruit-PWM-Servo-Driver-Library
[submodule "ms5837-python"]
	path = ms5837-python
	url = https://github.com/bluerobotics/ms5837-python
